body {
	background-color: lightgray;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	background-color: lightgrey;
	border-bottom: .5px solid black;
	color: red;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: red;
	text-decoration: none;
}
.container{
	padding-top: 50px;

}


form {
	
	background-color: white;
	border: 1px solid black;
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form select {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

form input[type="submit"] {
	background-color: black;
	border: none;
	color: white;
	cursor: pointer;
	padding: 10px 20px;
}

.res{
	text-align: center;
	text-underline-position: below; 
	font-size: large ;
}

.SC{
	font-size: large;
}

.XO{
	font-size: small;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 10px;
	
	padding: 10px;
	margin: 10px;
  }
  
  .grid-row {
	flex-wrap: wrap;
  }
  
  .grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border: 1px solid gray;
	font-size: 18px;
	text-align: center;
  }
  
